/* .classification *,
.classification {
  border: 1px solid red;
} */

.classification h1 {
  text-shadow: 1px 2px 2px rgb(255, 255, 255);
}

/* FILTERS */
.classification .filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30em;
}
.classification .filters .categories {
  text-align: center;
}

.classification {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2.5em 0;
}

.classification .filters .btn-light {
  border: 1px solid black;
}

.classification .filters button {
  margin: 0 0.25em 0.25em 0.25em;
}
.classification .filters hr {
  margin: 0.2em 0;
}
.classification .filters .hr {
  margin: 1em 0 0.5em 0;
  border-top: 1px solid black;
  width: 100%;
}

.classification .tournaments > button {
  padding: 0.6em 0.5em;
}

.classification .trials > button,
.classification .categories > button {
  padding: 0.1em 0.5em;
}

.classification .btn-dark {
  background-color: #164a3c59;
  color: black;
}

/* TABLE */

.classification .table {
  padding: 2em;
  border-radius: 5px !important;
}
.classification h2 {
  margin-top: 2em;
  font-size: 20px;
}
.classification .table th {
  cursor: pointer;
}
.classification .table * {
  font-size: large;
}

/* RESPONSIVE */
@media (max-width: 720px) {
  .classification .filters {
    width: 95%;
  }

  .classification .table {
    padding: 0;
  }
}
