.classification {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2.5em 0;
}

.classification .filters {
  margin-top: 2em;
}

.classification .filters .btn-light {
  border: 1px solid black;
}

.classification .filters button {
  margin: 0 0.25em;
}
.classification .filters hr {
  margin: 0.5em 0;
}
