.back-hero {
  width: 100%;
  background-color: rgb(252, 249, 248);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 !important;
  height: 90vh;
  width: 100%;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: scroll;

  color: #fcf4f1;
}

.hero h1 {
  margin-top: 1.2em;
}

.hero .icon {
  margin-top: auto;
}

.hero .icon * {
  font-size: 2em;
}
