.hero {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 !important;
  height: 90vh;
  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: #fcf4f1;
}

.hero .icon {
  margin-top: auto;
}

.hero .icon * {
  font-size: 2em;
}
