/* * {
  border: 1px red solid;
} */

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.footer{
    background:rgba(0, 0, 0, 0.3);
}
.sub-footer{
    background:rgba(0, 0, 0, 0.20);
}