/* * {
  border: 1px red solid;
} */

* {
  font-family: "Roboto";
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;

  margin-top: 5.5em;
}

/* INPUT ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* SCROLLBAR */
/* Track CHROME*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border: solid 2px rgba(224, 224, 224, 0.5);
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: #262424;
}

/* ESTILOS DE FONDO */
.page-inside-wb {
  width: 100% !important;
  opacity: 0.97;
  background-color: white;
}
.page-inside-sideband {
  width: 85% !important;
  background-color: white;
  border-left: 1px rgba(79, 79, 79, 0.4) solid;
  border-right: 1px rgba(79, 79, 79, 0.4) solid;
}

@media (max-width: 720px) {
  .page-inside-sideband {
    width: 100% !important;
  }
}
