/* .location * {
  border: 1px solid red;
} */

.location {
  box-shadow: 0 2px 20px 3px black;
}

.location h1 {
  margin: 0.7em 0 0.7em;
  font-size: 45px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.location > div {
  box-shadow: 0 -10px 30px 5px black;
}
