/* .modal-content-r * {
  border: 1px red solid;
} */

.modal-backdrop-r {
  position: absolute !important;
  left: -5%;
  top: 100%;
  width: 110%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.467);
  z-index: 1000;
}

.modal-content-r {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20%;
  margin: auto;
  z-index: 200;

  background-color: white;
  padding: 2em 4em 2em 4em;
  border-radius: 2px;
  width: 30em;
  height: 25em;
}

/* ALERT */
.alert-text {
  width: 100% !important;
  margin-left: 0.5em;
}

/* HEADER */
.modal-title-r {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.btn-close {
  position: absolute;
  left: 90%;
}

.subtitle > * {
  line-height: 1em;
  font-size: 13px;
}
/* BODY */
.modal-content-r a {
  margin-left: 0.5em;
  font-weight: 600;
  text-decoration: none;
  font-size: 13px;
  color: #008367;
}

.modal-body-r {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 1px solid rgba(50, 50, 50, 0.305);
  padding-top: 1em;
  width: 18em;
}
.modal-body-r button {
  margin: 0 auto;
}
.modal-body-r div {
  width: 100%;
}

.form-control:focus {
  border-color: #0078505a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0078502c;
}

.form-check {
  font-size: smaller;
}

/* FOOTER */

/* RESPONSIVE */
@media (max-width: 720px) {
  .modal-body-r div {
    width: 100%;
  }
  .modal-content-r {
    width: 85% !important;
  }
}

@media (min-width: 720px) and (max-width: 1000px) {
  .modal-content-r {
    top: -5em;
    scale: 0.8;
    border: solid 1px rgba(0, 0, 0, 0.522);
  }
}
