/* .navbar * {
  border: 1px red solid;
} */

.navbar {
  background: rgb(252, 249, 248) !important;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.375);
  border-bottom: 1px solid #8b8585ab;

  position: fixed;
  width: 100%;

  top: 0;
  z-index: 10;
}

.navbar-collapse ul {
  margin: 0 0 0 auto !important;
}

.navbar-collapse ul * {
  font-size: large;
  font-weight: 400;
}

.navbar-collapse ul *:hover {
  transition: transform 0.1s ease-in-out;
  text-shadow: 0px 10px 14px #00000079;
}
.navbar-collapse {
  width: 5em !important;
}

.navbar-collapse .dropdown-menu {
  right: auto;
  left: 10%;
  transform: translateX(-50%) translateY(5%);
}
.login-dk {
  margin-left: 1.5em;
}

.fontAwesome {
  font-family: "Helvetica", FontAwesome, sans-serif;
}
.navbar .search {
  margin-left: 3em;
  width: 10em;
}
.search:focus {
  border-color: #0078505a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #0078502c;
}

/* PROFILE */
.navbar li {
  list-style-type: none;
}

.navbar .nav-item > a,
.navbar .nav-item > a:focus,
.navbar .nav-item > a:hover {
  text-decoration: none;
  color: #00744b;
  font-size: large;
}
.navbar .nav-item > a:hover {
  transition: transform 0.1s ease-in-out;
  transform: scale(1.1);
}

.navbar-collapse ul > * {
  text-align: center;

  padding: 0.3em;
}

.navbar .dropdown-menu {
  left: -3em !important;
}

/* RESPONSIVE */

.login-mb {
  margin-right: 0.5em;
}

@media (max-width: 720px) {
  .navbar > div > a {
    margin: 0;
    padding-right: 4px !important;
  }
  .navbar .search {
    width: 5em !important;
    font-size: larger;
    margin-left: 0;
  }

  .search-form {
    margin-left: auto;
  }
  .navbar-collapse ul {
    width: 100% !important;
    border: 1px solid rgba(110, 110, 110, 0.212);
    border-radius: 5px;
    margin-top: 0.75em !important;
  }
  .navbar-collapse ul > * {
    font-size: 20px;
    padding: 1em;
    text-align: center;
    margin-left: 20px !important;
  }
}

@media (min-width: 720px) and (max-width: 1000px) {
  .navbar > div > form {
    margin-left: auto;
  }
  /* MOBILE NAVBAR SMALLER */
  .navbar {
    top: -0.7em;
    padding-bottom: 0;
  }
  .page-wrapper {
    margin-top: 4.4em;
  }
}
