/* .navbar * {
  border: 1px red solid;
} */

.navbar-collapse ul {
  margin: 0 0 0 auto !important;
}

.navbar-collapse .dropdown-menu {
  right: auto;
  left: 10%;
  transform: translateX(-50%) translateY(5%);
}
.login-dk {
  margin-left: 1.5em;
}

.fontAwesome {
  font-family: "Helvetica", FontAwesome, sans-serif;
}
.search {
  width: 3.5em;
}
.search:focus {
  border-color: #e0020963;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(255, 0, 0, 0.371);
}

/* RESPONSIVE */

.login-mb {
  margin-right: 0.5em;
  font-size: larger;
}

@media (max-width: 720px) {
  .navbar > div > a {
    margin: 0;
    padding-right: 4px !important;
  }
  .search {
    width: 5em !important;
  }
  .search {
    font-size: larger;
  }
  .search-form {
    margin-left: auto;
  }
  .navbar-collapse ul {
    width: 100% !important;
    border: 1px solid rgba(110, 110, 110, 0.212);
    border-radius: 5px;
    margin-top: 0.75em !important;
  }
  .navbar-collapse ul > * {
    font-size: 20px;
    padding: 1em;
    text-align: center;
  }
}
