.classification .table * {
  box-sizing: border-box;
}

.classification .table p {
  text-align: center;
  margin: 20px 0 60px;
}

.classification .table main {
  background-color: #2c3845;
}

.classification .table h1 {
  text-align: center;
  font-weight: 300;
}

.classification .table table {
  display: block;
}

.classification .table tr,
.classification .table td,
.classification .table tbody,
.classification .table tfoot {
  display: block;
}

.classification .table thead {
  display: none;
}

.classification .table tr {
  padding-bottom: 10px;
}

.classification .table td {
  padding: 10px 10px 0;
  text-align: center;
  font-size: larger;
  font-weight: 500;
}

.classification .table td:before {
  content: attr(data-title);
  color: #7a91aa;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-right: 10px;
  display: block;
}

.classification .table table {
  width: 100%;
}

.classification .table th {
  text-align: left;
  font-weight: 700;
}

.classification .table thead th {
  background-color: #164a3ce4;
  color: #fff;
  border: 1px solid #ffffff90;
}

.classification .table tfoot th {
  display: block;
  padding: 10px;
  text-align: center;
  color: #b8c4d2;
}

.classification .table .button {
  line-height: 1;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  background-color: #4b908f;
}

.classification .table .select {
  padding-bottom: 20px;
  border-bottom: 1px solid #28333f;
}
.classification .table .select:before {
  display: none;
}

.classification .table .detail {
  background-color: #bd2a4e;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.classification .table .detail.open {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.classification .table .detail-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 500px;
}

.classification .table dl {
  margin: 0;
  padding: 0;
}

.classification .table dt {
  font-size: 2.2rem;
  font-weight: 300;
}

.classification .table dd {
  margin: 0 0 40px 0;
  font-size: 1.8rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #ac2647;
  box-shadow: 0 1px 0 #c52c51;
}

.classification .table .close {
  background: none;
  padding: 18px;
  color: #fff;
  font-weight: 300;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  line-height: 1;
  font-size: 1.8rem;
  position: fixed;
  right: 40px;
  top: 20px;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
}
.classification .table .close:hover,
.classification .table .close:focus {
  background-color: #a82545;
  border: 1px solid #a82545;
}

@media (min-width: 460px) {
  .classification .table td {
    text-align: left;
  }
  .classification .table td:before {
    display: inline-block;
    text-align: right;
    width: 140px;
  }

  .classification .table .select {
    padding-left: 160px;
  }
  .classification .table td {
    font-size: smaller;
    font-weight: 500;
  }
}
@media (min-width: 720px) {
  .classification .table table {
    display: table;
  }

  .classification .table tr {
    display: table-row;
  }

  .classification .table td,
  .classification .table th {
    display: table-cell;
  }

  .classification .table tbody {
    border: 1px solid #005c4253;
    display: table-row-group;
  }

  .classification .table thead {
    display: table-header-group;
  }

  .classification .table tfoot {
    display: table-footer-group;
  }

  .classification .table td {
    border: 1px solid #28333f 0 0 0;
  }
  .classification .table td:before {
    display: none;
  }

  .classification .table td,
  .classification .table th {
    padding: 10px;
  }

  .classification .table tr:nth-child(2n + 2) td {
    background-color: #ebfff9;
  }

  .classification .table tfoot th {
    display: table-cell;
  }

  .classification .table .select {
    padding: 10px;
  }
  .classification .table td {
    font-size: smaller;
    font-weight: 500;
  }
}
